:root {
  --ratio: 1.54;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --measure: 80ch;
  --regular-text: 1.25rem;
}

html {
  margin: 0;
  padding: 0;
  line-height: 1.75;
}

body {
  background: hsl(215, 100%, 98%);
  color: var(--black);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: var(--regular-text);
  line-height: 1.65;
}

header {
  margin: 1rem;
}

nav {
  max-width: var(--measure);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

nav > * {
  margin: 0 var(--s-2) 0 0;
  text-transform: capitalize;
}

main, article {
  max-width: var(--measure);
  padding: 0 var(--s0) var(--s1) var(--s0);
  margin: auto;
}

.intro + section {
  clear: both;
  margin-top: var(--s2);
  margin-bottom: var(--s2);
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child) {
  margin: var(--s3) 0 var(--s0);
}

[time] {
  font-size: .95rem;
}

p {
  margin: 0;
  padding: 0.65em 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

figure {
  margin: var(--s2) 0;
  width: 100%;
}

figcaption {
  font-size: 1rem;
  max-width: 100%;
  text-align: center;
  padding: var(--s-2) 0;
}

.highlight {
  margin: 0 0 var(--s2) 0;
  width: 100%;
} 

.heading-anchor {
  text-decoration: none;
  vertical-align: middle;
  padding-left: var(--s-4);
}

.heading-anchor svg {
  fill: blue; /* fallback */
  fill: -webkit-link;
}

a[rel="next"] {
  display: block;
  margin-bottom: var(--s0);
  text-align: right;
}

.intro p {
  padding-top: 2.5rem;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
  opacity: 0;
}

@media(max-width: 620px) {
  :root {
    --regular-text: 1rem;
  }

  main, article {
    padding: 0;
  }

  main, article > *:not(figure):not(.highlight) {
    padding: 0 var(--s0) var(--s1) var(--s0);
  }

  .intro p {
    padding-top: 0;
  }
}