baseURL = "https://www.fostersamuel.com"
languageCode = "en-us"
title = "Samuel Foster"
theme = "leanblog"
summaryLength = 3
[markup]
  [markup.highlight]
    codeFences = true
    guessSyntax = false
    hl_Lines = ""
    lineNoStart = 1
    lineNos = true
    lineNumbersInTable = true
    noClasses = true
    style = "monokai"
    tabWidth = 4
  [markup.goldmark.renderer]
    unsafe= true