.siteNavigation {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;
}

.siteNavigation-home {
	display: inline-block;
	font-size: 1.5rem;
	margin-top: $base-line-height;
	margin-bottom: $base-line-height;
	.siteNavigation-homeIcon {
		background: transparent;
	}
	a {
		color: black;
		text-decoration: none;
	}
}

.siteNavigation-menuToggle, .siteNavigation-menuLabel {
	display: none;
	float: none;
}

.siteNavigation-links {
	display: inline-block;
	float: right;
	height: auto;
	width: auto;
	padding: 0;
	line-height: 1.5;
	margin: $base-line-height/1 1.0rem $base-line-height/1 0;
	background: transparent;
}

.siteNavigation-link {
	clear: none;
	display: inline;
	width: auto;
	border-radius: 5%;
	color: #090D2E;
	margin: 0 2rem 0 1rem;
	font-variant: small-caps;
	text-decoration: none;
	font-size: 1rem;
	&:hover {
		color: #2F0D28;
	}
}