.latestPost {
	width: 80%;
	margin: 0 auto 5rem auto;
}

.latestPost-title {
	font-size: 2rem;
	box-sizing: border-box;
	margin-bottom: .5rem;
	letter-spacing: -1px;
	a {
		color: black;
		text-decoration: none;
	}
}

.latestPost-time {
	display: block;
	margin-bottom: .25rem;
	font-size: .85rem;
	color: #9EABB3;
	letter-spacing: 0.01rem;
}

.latestPost-excerpt {
	margin-bottom: 1rem;
}

.latestPost-readMore {
	display: block;
}