.postList {
	width: 90%;
	margin: 0 auto;
}

.postList-post {
	max-width: 55ch;
	margin: 0 auto $base-line-height*4 auto;
}


.postList-postTitle a {
	text-decoration: none;
	color: black;
}

.postListing-post {
	margin-bottom: $base-line-height;
}
