*:before, *:after {
    box-sizing: border-box;
    position: relative;
}

$base-font-size: 1rem;
$base-line-height: 1.6 * $base-font-size;

$type-settings: (
  -1: (
    font-size: 0.75rem,
    line-height: $base-line-height
  ),
  0: (
    font-size: 1rem,
    line-height: $base-line-height
  ),
  1: (
    font-size: 1.333rem,
    line-height: $base-line-height * 2
  ),
  2: (
    font-size: 1.378rem,
    line-height: $base-line-height * 1.5
  )
);

@function type-scale($level) {
  @return map-get(
    map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(
    map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level) {
  font-size: type-scale($level);
  line-height: line-height($level);
}

html {
    font-size: 21px;
    line-height: 1.6;
    font-family: sans-serif;
}

body {
    text-rendering: optimizeLegibility;
    font-family:$body-fonts;
    color: $text-dark;
}

p {
    margin: 0;
    display: block;
    margin-bottom: 2rem;
    hyphens: auto;
    word-break: break-all;
    
    /* Non standard for webkit */
    word-break: break-word;
    
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

p ~ .highlighter-rouge {
    margin-top: $base-line-height * -.75;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-fonts;
    font-weight: bold;
    margin-bottom: .5rem;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}



// Based on Major Second scale.
// Scales can be found here: http://type-scale.com/
h1  { font-size: 1.802em; }
h2  { @include type-setting(2) ; margin-top: 1rem; }
h3  { @include type-setting(2); margin-top: 1.5rem; }
h4  { font-size: 1.325em; margin-top: 1rem;  }
h5  { font-size: 1em;  margin-top: 1rem;    }
h6  { font-size: 0.889em; margin-top: 1rem;   }

q, blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote {
    font-style: italic;
    font-size: 1.2em;
    padding: 5%;
}
 
blockquote:before { 
    content: "\201C";
    display: inline-block;
    padding-right: .4em;
}

ul {
    list-style:inside;
    margin-left: 1em;
}

@media print {
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    
    h2, h3 {
        page-break-after: avoid;
    }
    
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
}