/* base.scss - variables for Sass */
$heading-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$body-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;

$text-light: #f7f7f7;
$text-dark: rgba(18, 18, 18, 0.92);

$selection-color: #FF7B20;

$res-desktop: 1400px;
$res-tablet: 900px;

$sep: 1rem;