{{ define "main" }}
{{.Content}}
<main class="center stack">
	<h2>About</h2>
	<ul>
		<h3>Fast facts:</h3>
		<li><a target="_blank" href="../work">Software engineer</a> at Microsoft</li>
		<li>Studied computer science at <a target="_blank" href="http://polycentric.cpp.edu/2020/06/achieving-more-cal-poly-pomona-computer-science-graduates-head-to-microsoft/">Cal Poly Pomona</a></li>
		<li>Founded Software Engineering Association on campus</li>
	</ul>
	<img profile-picture alt="Samuel Foster standing on bridge, facing camera" width="auto" height="150px" src="../images/bridge.jpg">
	<p>I wanted to make video games. At ten years old I found Roblox, a website for playing and making 3D games with the Lua scripting language. Coding left me clueless and dazzled. I failed repeatedly to make a game, but the joy of programming never stopped.</p>
	<p>I continued learning with Liberty BASIC and eventually Java. I branched out by learning HTML, CSS, and JavaScript. As a freelancer I built and designed websites for five years. Those years saw me through a computer science degree from Cal Poly Pomona.</p>
	<p>With four friends I founded the on-campus Software Engineering Association. We pushed fellow students to, practically and continuously, build their skills.</p>
	<p>I now work as a software engineer at Microsoft.</p>
</main>
{{ end }}