{{ define "main" }}
{{.Content}}
<main class="center stack">
	<h2>Contact</h2>
	<p>Message me on <a href="https://www.linkedin.com/in/samuel-foster" target="_blank" rel="nofollow">LinkedIn</a>.</p>
	<p>I'm open for discussing anything. I can't help in every scenario, but I'll do my best to reply. Concise messages get priority.</p>
	<p>If there is an issue with the website, please <a href="https://github.com/fostersamuel/website/issues">write it on the repository.</a> This helps me keep better track of the problem.</p>
</main>
{{ end }}