{{ define "main" }}
{{.Content}}
<article class="stack works">
	<header>
		<h2>Work</h2>
		<p>I build for people. I'm a software engineer at Microsoft in Redmond.</p>
	</header>
	<section id="microsoft">
		<h3>Software Engineer</h3>
		<p><time>Started July 2020</time>, Microsoft</p>
	</section>
	<section id="google-internship">
		<h3>Software Engineering Intern</h3>
		<p><time>2019</time>, Google</p>
		<p>In New York I spent a summer on the Google Keep frontend team building a feature spanning Sheets, Docs, Slides, and more. I finished the feature one month ahead of schedule. With the extra time, I expanded it to more apps and wrote documentation.</p>
		<p>Compared to school and freelance projects, this work was unique. Bigger problems, and smaller optimizations, arise when serving accessible applications to millions of people. I learned the most from conversations and code reviews with experienced engineers.</p>
		<p></p>
	</section>
	<section id="gencyber">
		<h3>Student Assistant</h3>
		<p><time>2018</time>, GenCyber</p>
		<p>For a summer at Cal Poly Pomona I prepared and helped run a week-long cybersecurity camp for high schoolers. The attendees learned security principles and practiced on Raspberry Pis and LEGO Mindstorms. They made their own ethernet cables. Linux was taught.</p>
		<p>Each day I walked the group of 60+ students to the Los Olivos dining hall. Sitting and talking with them it was clear: young techinical talent abounds. They were sharp and determined to build.</p>
	</section>
	<section id="freelance">
		<h3>Freelance Developer</h3>
		<p><time>2015</time></p>
		<p>I built and designed websites for five years.</p>
		<p>Technically, it pushed me. I learned about the finicky side of CSS. About website optimization. About JavaScript.</p>
		<p>And how none of that was the focus. When you build for people, websites need to be  organized, fast, and accessible. Everything else is icing on the cake and not something the client needs to be involuntarily briefed on.</p>
		<p>I learned how to talk in and translate between the two layers.</p>
	</section>
	<section id="tutoring">
		<h3>Math Tutor</h3>
		<p><time>2014</time></p>
		<p>For two years I tutored SAT math, algebra, geometry, and calculus.</p>
		<p>Every student had different struggles. Most commonly there was a lack of foundational skills: arithmetic, equations, and pattern matching. The worst offense was that no one had explained why math is important, specifically, to each student.</p>
		<p>We took the time needed to build mathematical confidence, which opened them to learning new math tailored to their interests.</p>
	</section>
</article>


{{ end }}