{{ define "main" }}
	<main class="stack">
		<article class="stack post">
			<h2>{{ .Title }}</h2>
			<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00"  }}">{{ .Date.Format "January 2, 2006" }}</time>
			{{if .Params.wasUpdated}}
			<p lastmod>Last modified <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00"  }}">{{ .Lastmod.Format "January 2, 2006" }}</time>.</p>
			{{end}}
			{{ .Content }}
			<footer class="navigate-post">
			  {{if .NextPage}}
			    <a class="navigate-post-link" rel="next" href="{{.NextPage.RelPermalink}}">{{ .NextPage.Title }}&rarr;</a>
			  {{end}}
			  {{if .PrevPage}}
			    <a class="navigate-post-link" rel="prev" href="{{.PrevPage.RelPermalink}}">&larr;{{ .PrevPage.Title }}</a>
			  {{end}}
			</footer>
		</article>
	</main>
{{ end }}
