/* base.scss - variables for Sass */
/* reset.scss - CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: rgba(18, 18, 18, 0.92); }

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

*:before, *:after {
  box-sizing: border-box;
  position: relative; }

html {
  font-size: 21px;
  line-height: 1.6;
  font-family: sans-serif; }

body {
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgba(18, 18, 18, 0.92); }

p {
  margin: 0;
  display: block;
  margin-bottom: 2rem;
  hyphens: auto;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

p ~ .highlighter-rouge {
  margin-top: -1.2rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  margin-bottom: .5rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 1.802em; }

h2 {
  font-size: 1.378rem;
  line-height: 2.4rem;
  margin-top: 1rem; }

h3 {
  font-size: 1.378rem;
  line-height: 2.4rem;
  margin-top: 1.5rem; }

h4 {
  font-size: 1.325em;
  margin-top: 1rem; }

h5 {
  font-size: 1em;
  margin-top: 1rem; }

h6 {
  font-size: 0.889em;
  margin-top: 1rem; }

q, blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

blockquote {
  font-style: italic;
  font-size: 1.2em;
  padding: 5%; }

blockquote:before {
  content: "\201C";
  display: inline-block;
  padding-right: .4em; }

ul {
  list-style: inside;
  margin-left: 1em; }

@media print {
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; } }
.siteNavigation {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px; }

.siteNavigation-home {
  display: inline-block;
  box-sizing: border-box;
  padding: .5rem 0;
  font-size: 1.25rem; }
.siteNavigation-home a {
  text-decoration: none;
  color: black; }

.siteNavigation-links {
  display: none;
  width: 100%;
  height: 40vh;
  padding: 1.6rem 0;
  box-sizing: border-box;
  background: white; }

.siteNavigation-menuToggle {
  opacity: 0;
  position: absolute;
  left: -999px; }
.siteNavigation-menuToggle:checked ~ .siteNavigation-links {
  display: block; }

.siteNavigation-menuLabel {
  display: inline-block;
  border-radius: 5px;
  color: #0D0D0D;
  font-weight: bold;
  text-align: right;
  box-sizing: border-box;
  padding: .5rem 1.25rem;
  float: right;
  font-size: 1.25rem;
  box-sizing: border-box; }

.siteNavigation-link {
  display: block;
  clear: both;
  width: 100%;
  border-radius: 5%;
  color: #333;
  margin: 0 auto 1.6rem auto;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 1rem;
  box-sizing: border-box; }
.siteNavigation-link:last-child {
  margin: 0 auto; }

.now {
  padding: 0 20px;
  max-width: 60ch;
  box-sizing: none;
  margin: 0 auto 3.2rem auto;
  text-align: center; }

.now-date {
  color: #adadad;
  display: block;
  margin-bottom: 1.6rem; }

.now-details {
  text-align: left; }

.now-list {
  list-style: square;
  padding: 0 20px;
  margin-top: -1.6rem;
  margin-bottom: 1.6rem; }

.now-listItem {
  text-align: left;
  text-indent: 1rem; }

.now-link {
  border-bottom: 2px solid orangered;
  font-weight: bold; }

.info {
  margin-top: 5rem;
  padding: 1rem 2rem 5rem 2rem; }

.info-face {
  width: 10ch;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; }

.info-header {
  text-align: center;
  margin: 0; }

.info-me {
  display: block;
  margin: 0;
  text-align: center; }
.info-me a {
  font-weight: bold;
  border-bottom: 2px solid orangered; }

@media screen and (min-width: 900px) {
  ::-moz-selection {
    background: #FF7B20;
    color: white; }
  ::selection {
    background: #FF7B20;
    color: white; }

  ::-moz-selection {
    background: #FF7B20;
    color: white; }

  html {
    font-size: 125%; }

  .siteNavigation {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0; }

  .siteNavigation-home {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem; }
  .siteNavigation-home .siteNavigation-homeIcon {
    background: transparent; }
  .siteNavigation-home a {
    color: black;
    text-decoration: none; }

  .siteNavigation-menuToggle, .siteNavigation-menuLabel {
    display: none;
    float: none; }

  .siteNavigation-links {
    display: inline-block;
    float: right;
    height: auto;
    width: auto;
    padding: 0;
    line-height: 1.5;
    margin: 1.6rem 1rem 1.6rem 0;
    background: transparent; }

  .siteNavigation-link {
    clear: none;
    display: inline;
    width: auto;
    border-radius: 5%;
    color: #090D2E;
    margin: 0 2rem 0 1rem;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 1rem; }
  .siteNavigation-link:hover {
    color: #2F0D28; }

  .post {
    text-align: left; }

  .post-title {
    font-size: 2rem;
    margin-bottom: 1.5rem; }

  .post-writtenLink {
    transition: all 200ms ease-in;
    transition-property: color, border-bottom;
    border-bottom: 3px solid rgba(1, 1, 1, 0.2);
    color: rgba(20, 34, 46, 0.85); }
  .post-writtenLink:hover {
    border-bottom: 3px solid orangered;
    color: black; } }
