@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");

@font-face {
  font-family: "White Rabbit";
  src: url("WhiteRabbit.eot");
  src: url("WhiteRabbit.eot?#iefix") format("embedded-opentype"),
    url("WhiteRabbit.woff2") format("woff2"),
    url("WhiteRabbit.woff") format("woff"),
    url("WhiteRabbit.ttf") format("truetype"),
    url("WhiteRabbit.svg#WhiteRabbit") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --measure: 80ch;

  --primary-yellow: rgba(226, 190, 34, 255);
  --primary-white: rgba(235, 236, 241, 255);
  --primary-red: rgba(226, 52, 77, 255);
  --primary-green: rgba(23, 90, 54, 255);
  --accent-green: rgba(11, 122, 87, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  background-color: var(--primary-yellow);
  color: var(--primary-red);
  overflow-x: hidden;
  font-family: "White Rabbit", cursive;
}

header {
  height: 75vh;
  background-color: var(--primary-white);
  padding-top: 2vh;
  padding-bottom: 20vh;
  font-size: 2rem;
  font-family: "Seymour One", sans-serif;
}

.songs {
  padding: 1rem 1rem 1rem 3rem;
  font-style: italic;
  font-size: 0.5rem;
  width: 90%;
  transform: skew(-4deg, 0);
}

h1 {
  text-align: center;
}

.casiopea {
  /* Get that curved label effect */
  clip-path: polygon(
    59% 10%,
    66% 10%,
    73% 8%,
    82% 7%,
    88% 5%,
    95% 3%,
    100% 0,
    100% 100%,
    0 100%,
    0 0,
    6% 2%,
    10% 3%,
    15% 5%,
    19% 6%,
    24% 8%,
    28% 8%,
    34% 9%,
    39% 10%,
    45% 10%,
    50% 10%
  );
  background: var(--primary-white);
  opacity: 0.8;
  width: 100%;
  height: 115px;
  font-weight: bold;
  text-align: center;
  color: var(--primary-red);
  padding-top: 35px;
  transform: translateY(225px);
  font-size: 1.5rem;
}

.scene {
  perspective: 800px;
  display: block;
  background-color: transparent;
  transform: translateY(-90%) scale(0.75);
  width: 250px;
  margin: 0 auto;
  padding-bottom: 1rem;
  height: 25vh;
}

.area {
  width: 100px;
  height: 100px;
  margin-left: 4rem;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 1s;
}

svg {
  width: 100%;
}

.mintjam {
  position: absolute;
  z-index: -1;
  animation: bringJamToViewer 5s infinite ease-in-out;
}

.turningTowardViewer {
  transform: translateZ(-150px) rotateX(360deg) rotateY(270deg) rotateZ(-10deg);
  animation: turnJarTowardsViewer 5s infinite ease-in-out;
}

@keyframes turnJarTowardsViewer {
  0% {
    transform: translateZ(-150px) rotateX(360deg) rotateY(270deg)
      rotateZ(-10deg);
  }
  50% {
    transform: translateZ(-100px) rotateX(340deg) rotateY(360deg) rotateZ(0deg);
  }

  100% {
    transform: translateZ(-150px) rotateX(360deg) rotateY(270deg)
      rotateZ(-10deg);
  }
}

@keyframes bringJamToViewer {
  0% {
    transform: translateZ(-150px) translateX(35px) translateY(0) rotateX(360deg)
      scale(1) rotateY(270deg);
    opacity: 0;
  }

  27% {
    opacity: 1;
  }
  50% {
    transform: translateZ(-200px) translateX(35px) translateY(-200px) scale(1.5)
      rotateX(340deg) rotateY(360deg);
  }
  65% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateZ(-150px) translateX(35px) translateY(0) rotateX(360deg)
      scale(1) rotateY(270deg);
  }
}

.jarSide {
  position: absolute;
  z-index: 1;
  text-align: center;
}

div.jarSide {
  background-color: var(--primary-green);
  clip-path: polygon(0 35%, 100% 35%, 100% 100%, 0% 100%);
}

svg.jarSide {
  z-index: 2;
  padding-bottom: 4rem;
}

.jarSideFront,
.jarSideBack,
.jarSideRight,
.jarSideLeft {
  width: 200px;
  height: 400px;
}

.jarSideRight,
.jarSideLeft {
  left: 200px;
}

.jarSideBottom {
  width: 200px;
  height: 200px;
  top: 200px;
  line-height: 100px;
  clip-path: none !important;
}

.jarSideFront {
  padding-bottom: 4rem;
  transform: rotateY(0deg) translateZ(100px);
}
.jarSideRight {
  padding-bottom: 3rem;
  transform: rotateY(90deg) translateZ(-100px);
}
.jarSideBack {
  padding-bottom: 4rem;
  transform: rotateY(180deg) translateZ(100px);
}
.jarSideLeft {
  padding-bottom: 3rem;
  transform: rotateY(-90deg) translateZ(300px);
}
.jarSideBottom {
  transform: rotateX(-90deg) translateZ(100px);
}

section:last-of-type {
  padding: 1rem;
  padding-top: 2rem;
  background-color: var(--primary-white);
  line-height: 1.4;
  max-width: var(--measure);
  margin: 0 auto;
  border-radius: 25px 25px 0px 0;
}

p {
  max-width: var(--measure);
}

p + p {
  margin-top: 1rem;
}

@media (min-width: 1200px) {
  header {
    height: 70vh;
  }

  .songs {
    font-size: 1rem;
  }

  .scene {
    transform: translateY(-100%) scale(1.25);
    height: 30vh;
  }
}
