:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --measure: 80ch;
  --regular-text: 1.25rem;
  --header-text: 1.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  max-width: var(--measure);
  text-rendering: optimizeLegibility;
}

html,
body,
div,
header,
nav,
footer {
  max-width: none;
}

body {
	background: #f1f3f5;
  color: #091702;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  line-height: 1.54;
}

header, footer {
  padding: var(--s1);
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--s2);
  font-size: var(--header-text);
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-break: break-word;
}

p {
  font-size: var(--regular-text);
  overflow-wrap: break-word;
  word-break: break-word;
  text-rendering: optimizeLegibility;
}

blockquote {
  border-left: .5rem solid #222;
  display: block;
  padding-left: 2rem;
  color: #333;
}

blockquote p {
  font-style: italic;
  margin-bottom: .5rem;
}

time {
  font-weight: bold; 
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--s1);
  padding-right: var(--s1);
}


.stack {
  --space: var(--s1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
} 

.stack > * + * {
  margin-top: var(--space);
}

.smallprint {
  opacity: .5;
  font-size: var(--s0)
}

.navigate-post {
  list-style: none;
}

.navigate-post li:first-child {
  margin-bottom: var(--s1);
}

.navigate-post-link {
  display: block;
}

.navigate-post-link:empty {
  display: none;
}

/**
 * Syntax highlighting styles
 */
code {
  color: rgba(18, 18, 18, 0.92);
  background: #fafafa;
  padding: 3px 6px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 0;
  font-size: 90%;
  word-wrap: break-word;
}

.highlight {
  overflow-x: auto; 
}
.highlight pre {
  padding: .75rem .25rem;
}
.highlight code {
  color: inherit;
  background: inherit;
  font-size: 105%;
  border: 0;
  margin: initial;
  word-wrap: initial;
  padding: 0;
}

@media(min-width: 700px) {
  * {
    --regular-text: 1.3rem;
    --header-text: 1.5rem;
    --measure: 70ch;
  }

  .navigate-post li {
    display: inline-block;
    width: 49.5%;
  }
}