{{ define "main" }}
<main>
	<h1 class="hidden">Samuel Foster</h1>
	<section class="intro">
		<h2 class="hidden">Introduction</h2>
		<img width="125px" height="125px" class="profile-image" src="../../images/profile.jpg" loading="lazy" />
		<p>Hi, I'm Samuel Foster, a software engineer passionate about cooking, running, and learning. Reach me
			on <a href="https://www.linkedin.com/in/samuel-foster" target="_blank" rel="nofollow">LinkedIn</a> or <a
				href="https://www.twitter.com/@FosterSamuel_" target="_blank" rel="nofollow">@FosterSamuel_</a>.
		</p>
	</section>
	<section>
		<h2>Posts</h2>
		{{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}
		{{ .Render "summary" }}
		{{ end }}
		...
		and <a href="/posts">{{ sub (len (where .Site.Pages "Section" "posts")) 4 }} more &rarr;</a>
	</section>
	<section>
		<h2>Notes</h2>
		{{ range first 3 (where .Site.RegularPages.ByLastmod.Reverse "Section" "notes") }}
		{{ .Render "note-title" }}
		{{ end }}
		...and <a href="/notes">{{ sub (len (where .Site.Pages "Section" "notes")) 4 }} others &rarr;</a>
	</section>
</main>
{{ end }}